.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: .5px .5px 3px #2a2a2a;
  background: image_url('purty_wood/purty_wood.png');

}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;

}
